<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <h1>Hello car fanatic.</h1>
            <form method="post">
                <label for="brand_name">What brand would you like to add?</label><br>
                <input id="brand_name" type="text" title="What brand are you adding?" autocomplete="off"><br>
                <label for="brand_details">Add some fun details!</label><br>
                <input id="brand_details" type="text" title="Add some fun details" autocomplete="off"><br>
                <div class="py-1"></div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>